.pagination {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-numbers button {
  background-color: transparent;
}

.pagination-numbers button.active {
  font-weight: bold;
  border: 2px solid;
}
